[submodule "sites/src/plonetheme.barceloneta"]
	path = sites/src/plonetheme.barceloneta
	url = git@github.com:adam139/plonetheme.barceloneta.git
[submodule "sites/src/collective.indexing"]
	path = sites/src/collective.indexing
	url = https://github.com/plone/collective.indexing.git
[submodule "sites/src/xtgl.theme"]
	path = sites/src/xtgl.theme
	url = git@github.com:adam139/xtgl.theme.git
[submodule "sites/src/hjzgb.theme"]
	path = sites/src/hjzgb.theme
	url = git@github.com:adam139/hjzgb.theme.git
[submodule "sites/src/my315ok.theme"]
	path = sites/src/my315ok.theme
	url = git@github.com:adam139/my315ok.theme.git
[submodule "sites/src/lonsunn.theme"]
	path = sites/src/lonsunn.theme
	url = git@github.com:adam139/lonsunn.theme.git
[submodule "sites/src/emc.theme"]
	path = sites/src/emc.theme
	url = git@github.com:adam139/emc.theme.git
[submodule "sites/src/my315ok.products"]
	path = sites/src/my315ok.products
	url = git@github.com:adam139/my315ok.products.git
[submodule "sites/src/xtshzz.policy"]
	path = sites/src/xtshzz.policy
	url = git@github.com:adam139/xtshzz.policy.git
[submodule "sites/src/my315ok.socialorgnization"]
	path = sites/src/my315ok.socialorgnization
	url = git@github.com:adam139/my315ok.socialorgnization.git
[submodule "sites/src/my315ok.wechat"]
	path = sites/src/my315ok.wechat
	url = git@github.com:adam139/my315ok.wechat.git
[submodule "sites/src/collective.portlet.bilingualtext"]
	path = sites/src/collective.portlet.bilingualtext
	url = git@github.com:adam139/collective.portlet.bilingualtext.git
[submodule "sites/src/hjzgb.policy"]
	path = sites/src/hjzgb.policy
	url = git@github.com:adam139/hjzgb.policy.git
[submodule "sites/src/lonsunn.policy"]
	path = sites/src/lonsunn.policy
	url = git@github.com:adam139/lonsunn.policy.git
[submodule "sites/src/xtgl.policy"]
	path = sites/src/xtgl.policy
	url = git@github.com:adam139/xtgl.policy.git
[submodule "sites/src/my315ok.diazo960"]
	path = sites/src/my315ok.diazo960
	url = git@github.com:adam139/my315ok.diazo960.git
[submodule "sites/src/my315ok.policy"]
	path = sites/src/my315ok.policy
	url = git@github.com:adam139/my315ok.policy.git
[submodule "sites/src/dexterity.membrane"]
	path = sites/src/dexterity.membrane
	url = git@github.com:adam139/dexterity.membrane.git
[submodule "sites/src/my315ok.portlet.flash"]
	path = sites/src/my315ok.portlet.flash
	url = git@github.com:adam139/my315ok.portlet.flash.git
[submodule "sites/src/my315ok.portlet.rollitems"]
	path = sites/src/my315ok.portlet.rollitems
	url = git@github.com:adam139/my315ok.portlet.rollitems.git
[submodule "sites/src/my315ok.portlet.logo"]
	path = sites/src/my315ok.portlet.logo
	url = git@github.com:adam139/my315ok.portlet.logo.git
[submodule "sites/src/my315ok.portlet.footer"]
	path = sites/src/my315ok.portlet.footer
	url = git@github.com:adam139/my315ok.portlet.footer.git
[submodule "sites/src/my315ok.portlet.fetchouterhtml"]
	path = sites/src/my315ok.portlet.fetchouterhtml
	url = git@github.com:adam139/my315ok.portlet.fetchouterhtml.git
[submodule "sites/src/my315ok.portlet.embediframe"]
	path = sites/src/my315ok.portlet.embediframe
	url = git@github.com:adam139/my315ok.portlet.embediframe.git
[submodule "sites/src/collective.diazotheme.bootstrap"]
	path = sites/src/collective.diazotheme.bootstrap
	url = git@github.com:adam139/collective.diazotheme.bootstrap.git
[submodule "sites/src/wechat.policy"]
	path = sites/src/wechat.policy
	url = git@github.com:adam139/wechat.policy.git
[submodule "sites/src/membrane.usersinout"]
	path = sites/src/membrane.usersinout
	url = git@github.com:adam139/membrane.usersinout.git
[submodule "sites/src/xsgs.policy"]
	path = sites/src/xsgs.policy
	url = git@github.com:adam139/xsgs.policy.git
[submodule "sites/src/xsgs.theme"]
	path = sites/src/xsgs.theme
	url = git@github.com:adam139/xsgs.theme.git
