[submodule "sites/src/plonetheme.barceloneta"]
	path = sites/src/plonetheme.barceloneta
	url = git@github.com:adam139/plonetheme.barceloneta.git
[submodule "sites/src/emc.theme"]
	path = sites/src/emc.theme
	url = git@github.com:adam139/emc.theme.git
