[submodule "sites/src/hjzgb.theme"]
	path = sites/src/hjzgb.theme
	url = git@github.com:adam139/hjzgb.theme.git
[submodule "sites/src/my315ok.theme"]
	path = sites/src/my315ok.theme
	url = git@github.com:adam139/my315ok.theme.git
[submodule "sites/src/lonsunn.theme"]
	path = sites/src/lonsunn.theme
	url = git@github.com:adam139/lonsunn.theme.git
[submodule "sites/src/my315ok.products"]
	path = sites/src/my315ok.products
	url = git@github.com:adam139/my315ok.products.git
[submodule "sites/src/xtshzz.policy"]
	path = sites/src/xtshzz.policy
	url = git@github.com:adam139/xtshzz.policy.git
[submodule "sites/src/my315ok.socialorgnization"]
	path = sites/src/my315ok.socialorgnization
	url = git@github.com:adam139/my315ok.socialorgnization.git
[submodule "sites/src/my315ok.wechat"]
	path = sites/src/my315ok.wechat
	url = git@github.com:adam139/my315ok.wechat.git
[submodule "sites/src/hjzgb.policy"]
	path = sites/src/hjzgb.policy
	url = git@github.com:adam139/hjzgb.policy.git
[submodule "sites/src/lonsunn.policy"]
	path = sites/src/lonsunn.policy
	url = git@github.com:adam139/lonsunn.policy.git
[submodule "sites/src/my315ok.policy"]
	path = sites/src/my315ok.policy
	url = git@github.com:adam139/my315ok.policy.git
[submodule "sites/src/dexterity.membrane"]
	path = sites/src/dexterity.membrane
	url = git@github.com:adam139/dexterity.membrane.git
[submodule "sites/src/my315ok.portlet.flash"]
	path = sites/src/my315ok.portlet.flash
	url = git@github.com:adam139/my315ok.portlet.flash.git
[submodule "sites/src/collective.diazotheme.bootstrap"]
	path = sites/src/collective.diazotheme.bootstrap
	url = git@github.com:adam139/collective.diazotheme.bootstrap.git
[submodule "sites/src/wechat.policy"]
	path = sites/src/wechat.policy
	url = git@github.com:adam139/wechat.policy.git
[submodule "sites/src/membrane.usersinout"]
	path = sites/src/membrane.usersinout
	url = git@github.com:adam139/membrane.usersinout.git
[submodule "sites/src/xsgs.policy"]
	path = sites/src/xsgs.policy
	url = git@github.com:adam139/xsgs.policy.git
[submodule "sites/src/xsgs.theme"]
	path = sites/src/xsgs.theme
	url = git@github.com:adam139/xsgs.theme.git
[submodule "sites/src/WeRoBot"]
	path = sites/src/WeRoBot
	url = git@github.com:adam139/WeRoBot.git
[submodule "sites/src/xtcs.policy"]
	path = sites/src/xtcs.policy
	url = git@github.com:adam139/xtcs.policy.git
[submodule "sites/src/xtcs.theme"]
	path = sites/src/xtcs.theme
	url = git@github.com:adam139/xtcs.theme.git
[submodule "sites/src/qyxycjh.theme"]
	path = sites/src/qyxycjh.theme
	url = git@github.com:adam139/qyxycjh.theme.git
[submodule "sites/src/qyxycjh.policy"]
	path = sites/src/qyxycjh.policy
	url = git@github.com:adam139/qyxycjh.policy.git
